@import url('https://fonts.googleapis.com/css?family=Carrois+Gothic+SC');

#title {
    font-family: 'Carrois Gothic SC', sans-serif;
    font-size: 2em;
    margin-left: 22%;
    margin-top: 4px;
    color: #d03939;
}

.nav {
    margin-bottom: 100px;
}

.nav ul {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    z-index: 99;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.nav li a:hover {
    background-color: #111;
}

.active {
    background-color: #111;
}

#logout {
    float: right;
}