.profile-container {
  margin-top: 125px;
  display: flex;
  flex-flow: row wrap; 
}

.user-card-container {
  width: 301px;
  margin: 50px auto;
}

.card-container {
  position: relative;
  width: 200px;
  height: 400px;
  margin: 0 auto 50px auto;
  border: solid 1px #000;
  text-align: center;
}

.card-container ul {
  padding: 0 1em;
}

.card-container li {
  list-style: none;
}

.card-footer {
  background-color: #b0b0b0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
}

.footer-link {
  text-decoration: none;
  position: relative;
  top: 10px;
}

.footer-link:visited {
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}